@font-face {
  font-family: 'c7nazara';
  src: url('./font/c7nazara.ttf');
}
@font-face {
  font-family: 'CheveuxDange';
  src: url('./font/Cheveuxdange.ttf');
}

:root {
  --col01: #b49d34;
  --col02: #ffe0ff;
  --col03: #ef4fc0;
  --col04: #cfffff;
  --col05: #1fb0cf;
  --col07: #fdffaf;
  --col08: #0000088f;
  --col09: #cf2fa07f;
  --col10: #1f0f2f;
  --col11: #00081f;
  --col12: #000008;
}
html {
  box-sizing: border-box;
  font-size: 18px;
}
*,*::before,*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: var(--col12);
  background-repeat: no-repeat;
  font-family: "CheveuxDange";
  font-style: italic;
  color: var(--col07);
  display: flex;
  flex-flow: column nowrap;
}

header div,
nav,
main div,
footer div {
  width: 85%;
  max-width: 1120px;
  margin: 0 auto;
}

header {
  background-image: url('./img/4d_burger_press_restaurant.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
header div {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 2.0rem;
  align-items: center;
}
header div img {
  width: 200px;
  height: 200px;
}
header div h1 {
  font-family: "c7nazara";
  font-size: 3.0rem;
  font-weight: normal;
  text-shadow: 2px -2px 25px var(--col01),
              -2px -2px 25px var(--col01),
              -2px 2px 25px var(--col01),
               2px 2px 25px var(--col01);
  filter:drop-shadow(0px 0px 20px var(--col01));
}
nav {
  padding-bottom: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 5.5rem);
  column-gap: 1.0rem;
  justify-content: end;
}
nav button {
  font-family: 'c7nazara';
  font-size: 1.0rem;
  padding: 0.5rem;
  background-color: var(--col08);
  color: var(--col02);
  text-shadow: 1px -1px 16px var(--col03),
              -1px -1px 16px var(--col03),
               1px 1px 16px var(--col03),
              -1px -1px 16px var(--col03);
  border: 2px groove var(--col03);
  border-radius: 0 0.75rem;
  transition: border-radius 500ms ease;
  cursor: pointer;
}
nav button.active {
  background-color: var(--col09);
}
nav button:not(.active):hover {
  border-radius: 0.75rem 0;
}

main {
  flex: 1 1 auto;
}
main h2 {
  font-size: 2.0rem;
  font-weight: normal;
  text-align: center;
  margin: 1.0rem 0;
}
main h3 {
  font-size: 1.6rem;
  font-weight: normal;
  text-align: center;
}
main p,
main li {
  font-size: 1.1rem;
}
.home p {
  text-align: justify;
  margin-top: 0.65rem
}
.credits h3,
.contact h3 {
  margin: 1.0rem 0;
}
.credits li,
.contact li {
  position: relative;
  list-style-position: inside;
  list-style-type: none;
  padding-left: 0.75rem;
}
.credits > ul > li:not(:first-of-type) {
  margin-top: 1.0rem;
}
.credits li::before {
  position: absolute;
  top: 0;
  left: -15px;
  content: "\2623";
  font-style: normal;
}
.credits ul ul li {
  margin-left: 1.5rem;
}
.contact > ul > li {
  margin-top: 0.2rem;
  margin-left: 1.0rem;
}
.contact > ul > li:last-of-type {
  margin-bottom: 1.0rem;
}
.contact p:not(:first-of-type) {
  margin-top: 1.0rem;
}

a {
  display: inline-block;
  text-underline-offset: 0.2rem;
}
a:link {
  color: var(--col03);
}
a:visited {
  color: var(--col01);
}
a:not(footer a):hover {
  color: var(--col05);
}

footer {
  flex: 0 1 auto;
}
footer div {
  margin-bottom: 0.3rem;
}
footer div p {
  text-align: end;
  font-size: 0.75rem;
}
footer div p a {
  transform-origin: 0% 100%;
  transition: transform 500ms ease;
}
footer div p a:hover {
  transform: scale(1.25);
}
